body{
    background-color: chocolate;
}
output {
    width: 100%;
    display: grid;
    overflow-x: hidden;
    
    gap: 30px;
    grid-template-columns: repeat(4, 1fr);
}

output img {
    width: 100%;
    border: 2px solid black;
    object-fit: cover;
}

#images {
    margin: 63px 0px 47px 0px;
    padding: 18px 0px 46px 0px;
    background-color: bisque;
}

input{
    margin: 10px 0px 47px 0px;
    
}
footer{
    margin: 100px 0px 0px 620px;
    display: inline-block;
}

button{
    font-size: 40px;
    
}